dist/
node_modules/
*.bak
logs/*
*.log
npm-debug.log
!.gitkeep
tmp
.sass-cache/
.npm
Gemfile.lock

.vscode
.DS_Store

# =========================
# Windows detritus
# =========================

# Windows image file caches
[Tt]humbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
