/* Full info here: https://codepen.io/jakob-e/pen/doMoML */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

h1, h2, h3, h4 {
  font-weight: 600;
  font-family: 'Work Sans'; }

h2 {
  font-weight: 400;
  font-size: 2.2807rem; }

.link-social {
  fill: #fefdfd; }

.link-email,
.link-email:hover,
.link-email:visited,
.link-email:active {
  color: #fefdfd;
  text-decoration: none; }

.link-home,
.link-home:visited,
.link-home:active {
  color: #fefdfd;
  text-decoration: none;
  font-weight: 600; }

.header-without-intro {
  background: #5b14d9;
  color: #fefdfd; }
  .header-without-intro .col {
    padding: 0; }

.header-with-intro {
  background: radial-gradient(ellipse farthest-corner at left top, #4910ae 15%, #14d9be 100%);
  background-size: 400% 100%;
  color: #fefdfd; }

.nav-top {
  display: flex;
  padding: 1rem;
  min-height: 44px;
  align-items: center; }
  .nav-top .nav_items {
    margin: 0;
    padding: 0;
    list-style: none; }
    .nav-top .nav_items li {
      display: inline-block; }

.intro {
  display: flex;
  padding: 1rem;
  min-height: 60vh;
  max-width: 66%;
  align-self: center;
  align-items: center;
  justify-content: center; }
  .intro .title {
    font-size: 2.2807rem;
    line-height: 1.2; }
  .intro .subtitle {
    font-weight: 400;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5; }

.main-content {
  margin: 5rem auto; }

.process {
  padding: 0;
  list-style-type: none; }
  .process_step_title {
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem; }
  .process_step {
    margin: 0 0 1rem 0; }
    .process_step p:nth-of-type(1) {
      display: inline; }
    .process_step p:nth-of-type(2) {
      margin-top: 1rem; }
  .process_step_methods {
    list-style-type: disc; }
  .process_step_method-name {
    font-weight: 600; }

.project {
  margin: 3rem 0; }

.project_case-study {
  margin: 2rem 1rem; }

.project_role {
  margin-bottom: 1rem;
  color: #635e5e;
  font-size: 1rem; }
  .project_role_title {
    text-transform: uppercase; }

figure {
  margin: 0; }
  figure img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 100%;
    transition: box-shadow 200ms ease; }
    figure img:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.23); }
  figure figcaption {
    font-style: italic;
    font-size: 0.79012rem;
    color: #7c7576; }

a[role='button'] {
  display: inline-flex;
  padding: 0.5rem 1rem;
  min-height: 44px;
  border: 2px solid #5b14d9;
  color: #5b14d9;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Work Sans';
  align-self: center;
  justify-content: center;
  align-items: center; }
  a[role='button']:hover {
    border-color: #9a69f1;
    color: #9a69f1; }
  a[role='button'] .cta_arrow {
    font-size: 1.26562rem;
    line-height: 1; }

footer {
  background: radial-gradient(ellipse farthest-corner at right top, #14d9be 10%, #5b14d9 80%);
  background-size: 200% 100%;
  color: #fefdfd; }

.footer-contents {
  display: flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center; }
  .footer-contents .link-email,
  .footer-contents .link-social {
    padding: 0.5rem; }

@media (min-width: 34rem) {
  .button {
    display: inline-block; } }

/*# sourceMappingURL=folio.css.map */
