.list-horizontal {
  list-style-type: none;
  margin: 0;
}

.list-horizontal li {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
}

figure {
  margin: 0;
}

.caption {
  font-size: 0.75rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

li {
  margin-bottom: 0.33rem;
}

ul {
  margin: 1rem 2rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
