.list-horizontal {
  list-style-type: none;
  margin: 0;
}

.link-wrapper {
  padding: 0.5rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.link-wrapper:first-of-type {
  margin-right: 1rem;
}

.link-wrapper a {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.link-wrapper:hover {
  cursor: pointer;
}

.link-wrapper:hover a {
  text-decoration: underline;
}

.list-horizontal li {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
}

figure {
  margin: 0;
}

.caption {
  font-size: 0.75rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

li {
  margin-bottom: 0.33rem;
}

ul {
  margin: 1rem 2rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
