.intro
  h1.title Hi, I'm Kendrick Arnett
    .subtitle … a User Experience Designer from Fort Worth, Texas. I have a passion for cross-team collaboration, pattern libraries, accessibility, and keeping my front-end development skills sharp.
