- var prepend = buildPath ? buildPath : '../..';

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block vars
    block title
      title Kendrick Arnett | UX Architect
    block styles
      link(rel="stylesheet", href="/vendor/rocketbelt.min.css")
      link(rel="stylesheet", href="/css/folio.min.css")

  body
    if needsIntro
      header.row.header-with-intro
        .col.xs-12
          include _intro.pug
    else
      header.row.header-without-intro
        .col.xs-12
          include _nav.pug
    article.row.xs-center
      .col.xs-12.md-10.lg-8
        block content
    footer.row
      .col.xs-12
        include _footer.pug
