- var prepend = buildPath ? buildPath : '../..';

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block vars
    block title
      title Kendrick Arnett | UX Architect
    block styles
      link(rel="stylesheet", href="/vendor/rocketbelt.min.css")

  body.grid-fluid
    h1 Hello World
