extends ./_layout.pug

block vars
  - const needsIntro = true;
  - const projectsPath = 'projects/';

block content
  article.grid-fluid.main-content
    section.row.xs-center.xs-middle
      .col.xs
        p I ❤️ cross-team collaboration, pattern libraries, accessibility, and keeping my front-end development skills sharp.
        h2 Process
        ol.process
          li.process_step
            h3.process_step_title Discovery
            p
              | is a design team's chance to hear the user's true voice. Throughout the process
              | we'll unearth friction in an existing experience or gain insight about new features
              | that we wouldn't have without the user's input.
            p Methods I love include:
            ul.process_step_methods
              li.process_step_method Combining powers with our web analytics team to build #[span.process_step_method-name use cases]. Analytics show us exactly how users interact with particular features, or how they move around within the site to accomplish a goal.
              li.process_step_method #[span.process_step_method-name Contextual inquiry], wherein we observe users as they interact naturally with the site, without detailed instruction. We may stop them from time to time to ask high-level questions, and we constantly record qualitative data.
              li.process_step_method #[span.process_step_method-name Usability testing], which is highly informed by the prior two methods. Based on where the qualitative and quantitative data point, we build a script of simple tasks for the user to accomplish. User frustration or problems with a design will surface, dashing our best-laid plans and providing some new problems to solve.
              li.process_step_method Asking the user to get his or her hands dirty with a #[span.process_step_method-name card sorting] exercise. Card sorts help us fine-tune the site's taxonomy by having the user build categories with a fresh set of eyes.
              li.process_step_method #[span.process_step_method-name Making allies] by engaging in thoughtful conversation. We'll use the results of the preceding methods to build bridges within the organization and garner buy-in from stakeholders.
          li.process_step
            h3.process_step_title Ideation &amp; Sketching
            p
              | come after more clearly defining the problem to be solved. When ideating, we focus
              | on #[span.process_step_method-name quantity over quality], knowing that we can
              | focus on the "good" ideas later. We can draw from a toolbag of ideation techniques
              | like #[span.process_step_method-name abstraction],
              | #[span.process_step_method-name laddering], or
              | #[span.process_step_method-name charrettes].
            p
              | Then we'll put pencil to paper and start sketching a rough draft of a UI
              | based on what we've come up with in ideation.
          li.process_step
            h3.process_step_title Prototyping
            p
              | turns a sketch into something interactive. It could be a arts & crafty paper
              | prototype or a set of clickable wireframes. Either way, we should test the
              | prototype with users to be sure we're on the right track. (If testing indicates
              | we're on the wrong track, it's back to the drawing board!)
          li.process_step
            h3.process_step_title Visual Design &amp; Development
            p
              | are the team's chance to turn all this work into something pretty. After
              | confirming a prototype's success with users, it's finally time to turn it
              | into a high-fidelity interface. We'll adhere to a pattern library as we flesh out
              | the visual design, and the development team will pull from the same pattern
              | library as they write the front-end code. We'll be collaborative and highly
              | available to the dev team to answer questions and talk through design decisions.
          li.process_step
            h3.process_step_title Iterative A/B Testing
            p
              | confirms that our hard work is solving the problem in the real world. We
              | can pit the old design against the new one (plus a variation or two of the
              | new design) and wait for the metrics to roll in.

    h2 Selected Projects
    include projects/_project-list.pug

