extends ./_layout.pug

block vars
  - const needsIntro = true;
  - const projectsPath = 'projects/';

block content
  article.grid-fluid.main-content
    section.row.xs-center.xs-middle
      .col.xs
        h2 Process
        ol
          li User Research &amp; Ideation
          li Sketches &amp; Visual Design
          li Prototyping
          li Development
          li Iterative A/B Testing

    h2 Selected Projects
    include projects/_project-list.pug

