extends ../_layout.pug

block content
  article.project_case-study
    h1 Accessibility Rehabilitation
    h2.project_role #[span.project_role_title Role:] #[span.project_roles Research, Consensus Building, Collaboration]
    section.situation
      p
        | As UXers, we're often quick to remind others what strong advocates
        | of the user we are. And that's as it should be! But in 2016, after hearing
        | a keynote from the inimitable
        | #[a(href='https://twitter.com/leoniewatson') Léonie Watson], I was shaken
        | awake to an empathy gap that I had been blissfully ignorant of:
        | users of assistive technology.
      p
        | It's trivially easy to break a site's accessibility, and my own designs had
        | been doing so for years. I sought to influence the organization to repair
        | the accessibility of our e-commerce site, armed with a newfound awareness
        | for users with visual, motor, or other impairments.
    section.tasks
      p
        | This was a tougher sell within the company than I expected. One of the first
        | questions I heard was "Why would a blind person even shop our site?"
        | Developers and directors alike were sure it wasn't worth the effort.
      p
        | I tried to explain that there was both a carrot and a stick: if our site
        | was easy to shop by users of assisive technology, it would set us apart;
        | conversely if we eschewed accessibility, we risked potential legal action
        | against us.
      aside.grid-fluid
        .row
          .col.xs
            figure
              a(href='../img/projects/a11y/a11y-05.001.min.jpeg')
                img(src='../img/projects/a11y/a11y-05.001.min.jpeg')
          .col.xs
            figure
              a(href='../img/projects/a11y/a11y-11.001.min.jpeg')
                img(src='../img/projects/a11y/a11y-11.001.min.jpeg')
          .col.xs
            figure
              a(href='../img/projects/a11y/a11y-11.001.min.jpeg')
                img(src='../img/projects/a11y/a11y-26.001.min.jpeg')
    section.actions
      p
        | In the winter of 2016 I put a talk together and presented it to a room full
        | of developers, VPs, and others from across the organization. I explained the
        | legal risk that I had researched and demonstrated what it was like to
        | navigate via keyboard or use a screen reader on our site. I showed how
        | easy it would be to fix some of the low-hanging fruit. #[em And it worked].
      p
        | Driven more by the stick than the carrot, the product team prioritized the work.
        | We engaged with a third party, the best in class when it comes to accessibility,
        | to audit our site and find the issues we couldn't.
    section.results
      p
        | I'm now the company-wide subject matter expert on accessibility, and consider
        | myself a fierce #[code a11y] advocate.
      p
        | The most satisfying part of this long journey is that nearly everyone
        | involved in e-commerce development are mindful of accessibility! There's
        | a true sense of empathy within the dev team and within the business.
      p
        | Our entire shopping path is fully accessible and compliant with
        | #[abbr(title='Web Content Accessibility Guidelines') WCAG] 2.0, apart from
        | #[code alt] text on all of our imagery—and we're designing a machine learning-based
        | solution for that, which should be ready this summer.
