extends ../_layout.pug

block content
  h1 Checkout
  p.situation Our checkout experience represented to company poorly at a critical point in the shopping process: converting a browser to a buyer. In addition to overall inconsistency within the interface, necessary actions were unclear, superfluous UI & copy increased distraction, and the experience wasn't accessible to customers using assistive technology. We knew we could do better, and that improving the customer's experience in checkout would make a positive impact to the bottom line.
  p.tasks With the goal of making checkout easier for a customer to complete, I made a plan to improve the information architecture of the experience. Additionally, I needed to increase its consistency with the rest of the site, as well as with other familiar ecommerce sites.
  p.actions I sketched & explored options for simplifying the presentation of shipping methods. I made high fidelity comps of this alternate design, but ultimately didn't receive the necessary development resources to implement that approach. Instead, I simplified repetitive interactions such as adding personal information, or selecting a billing address for a credit card. This effort was greatly reduced by leveraging the company's pattern library and by mentoring a young development team in some advanced front-end techniques.
  p.results The result is a consistent experience that focuses on ease &amp; speed of task completion. The redesign will launch before mid-February. I'll a/b test as many aspects of the new design as possible, and expect to see faster cart completion with an accompanying lift in conversion rate.
