extends ../_layout.pug

block content
  h1 Product Reviews
  p.situation Most of the company's customers love its products, but our product pages had no way for them to share that feedback. I believed this lack of social proof put us at a competitive disadvantage, even for products that occasionally received a poor review.
  p.tasks We sought to collect customer reviews with as little friction as possible, regardless of platform. We also knew it would be a challenge to avoid bombarding customers with review solicitations.
  p.actions I had an initial challenge to overcome stakeholder fears over negative reviews. I believed that these concerns were misguided, as even negative reviews could ultimately lead to better products if they were interpreted as valuable feedback by our buying teams. Additionally, I explained the potential positive effect we could have as a company by responding to negative reviews empathetically. After earning credibility with these stakeholders, I did a high-level analysis of product reviews among our competitors. This led me toward a custom experience that integrated with our reviews vendor via API. After ideating & sketching with my team, I laid out high-fidelity comps that leveraged the company's pattern library.
  //- TODO: Get feedback from analytics
  p.results
