extends ../_layout.pug

block content
  article.project_case-study
    h1 Rocketbelt Pattern Library
    h2.project_role #[span.project_role_title Role:] #[span.project_roles Heuristic Analysis, Visual Design, Front-End Development, Dev Collaboration, A/B Testing]
    aside.grid-fluid
      .row.xs-center.xs-middle
        .col.xs
          figure
            a(href='../img/projects/rocketbelt/rocketbelt-sketch-library.png')
              img(
                src='../img/projects/rocketbelt/rocketbelt-sketch-library.png',
                alt='The Rocketbelt Sketch library.'
              )
    p.situation For years the company exercised limited governance over UI quality of the site. The development team's level of comfort with non-trivial CSS varied greatly; over time this led to styles that were unnecessarily repeated or replaced. This resulted in wildly inconsistent results as well as a much larger-than-necessary CSS payload. For example, our CSS had declared 32 different shades of blue, and 113 different font sizes.
    aside.grid-fluid
      .row.xs-center.xs-middle
        .col.xs.sm-8
          figure
            a(href='../img/projects/rocketbelt/32-blues.png')
              img(
                src='../img/projects/rocketbelt/32-blues.png',
                alt='32 shades of blue.'
              )
            figcaption 32 shades of blue before Rocketbelt!
    p.tasks We knew we needed to enforce better consistency of our UI components, and that this would in turn benefit the consistency of the overall shopping experience. A pattern library would also provide a boost to developers who were less familiar with CSS so we could leverage their strengths in other areas. We also knew that accessibility needed to be built into all of our patterns with as little configuration at development time as possible.
    //- TODO: Elaborate on cross-team bridge-building; "collaboration, consistency, constraints" conversation
    p.actions I surveyed our site to build a list of components we'd need right off the bat, as well as those we'd be better off replacing. Next, I dove deep into existing pattern libraries to spark discussion and ideas with my teammates. After we had a minimally viable list of patterns, I fleshed them out in HTML, Sass, and Javascript. As our initial set of patterns neared completion, I collaborated with a wide group of developers to ensure this new pattern library was easy to understand and would be easy for them to put into practice.
    //- TODO
    p.results
