extends ../_layout.pug

block content
  article.project_case-study
    h1 Wishlist &amp; Registry
    p.situation After the company decided to focus on customer inspiration as a means of engagement, we knew we needed a way to display products in a creative way in a variety of locations on the site. A prime candidate for this new feature was our platform's wish list, which had been in a state of disrepair from day one. It was an area of the site that customers interacted with nonetheless, which led us to believe there was a large potential to be harnessed.
    p.tasks The out-of-the-box wish list provided by our platform needed to be overhauled into something visually rich, like a mood board, that could be a source of shopping inspiration for the customer. Additionally, the solution needed to reflect our brand well.
    p.actions I designed an experience to emphasize our beautiful product photography.
    p.results This new functionality will be deployed to the site in March, and I'll quickly follow up with a battery of a/b tests. I expect to see an uptick in both units per transaction and time spent on the site per visitor. I plan on immediately iterating the design to make it a new home for the company's gift registries.
